<h2>About Us</h2>
<p>Welcome to your personal book club website! We are passionate about books and love sharing our favourite reads with fellow book lovers.</p>
<p>Feel free to explore our collection and add your favourite books to our club</p>
<p>Once you have created an account you can save books you want to read to your own library</p>
<p>Happy reading!</p>