<h2>Share a book you loved!</h2>

<form action="/books" method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title">

    <label for="author">Author:</label>
    <input type="text" id="author" name="author">

    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre">

    <label for="published_year">Published Year:</label>
    <input type="number" id="published_year" name="published_year">

    <label for="image_url">Image Url:</label>
    <input type="text" id="image_url" name="image_url">

    <button type="submit">Add Book</button>
</form>

<a href="/">Back to Home</a>