<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Club</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav>
        <% if (userId) { %>
            <span class="welcome">Welcome, <%= user.email %></span>
        <% } %>
    
        <ul>
            <li><a href="/">Home</a></li>
            <% if (userId) { %>
                <li><a href="/books/add">Add Book</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
            <% if (!user) { %>
                <li><a href="/users/signup">Sign Up</a></li>
            <% } %>
            <li><a href="/about">About Us</a></li>
        </ul>
    
        <% if (userId) { %>
            <div class="logout-button">
                <form action="/logout" method="post">
                    <input type="hidden" name="_method" value="delete">
                    <button>Logout</button>
                </form>
            </div>
        <% } %>
    </nav>
    <div class="content-container">
        <h1>Your Personal Book Club</h1>
    
        <%- body %>

    </div>
</body>
</html>